:root {
  --c1: #fff8de;
  --c2: #ffe58b;
  --c3: #fcdd70;
  --c4: #f2d15d;
  --c5: #e3c045;
  --c6: #d4b032;
  --c7: #c39e1f;
  --c8: #b38e0e;
  --c9: #a48002;
  --c10: #986f05;
  --c11: #845f00;
  --c12: #6f5000;
  --c13: #513a00;
  --c14: #322400;
  --c15: #353228;
  --c16: #100b00;
  --nc: #f8f6ee;
  --nc0: #e3ddc5;
  --nc1: #f1ebd2;
  --nc1-5: #e9e2c5;
  --nc2: #d5cfb8;
  --nc3: #c7c2ac;
  --nc4: #9a9584;
  --nc-contrast: #4b483f;
  --nc-constrast-1: #363329;
  --nc-trans-1: rgba(227, 221, 197, 0.25);
  --nc-trans-2: rgba(241, 235, 210, 0.5);
  --nc-trans-3: rgba(241, 235, 210, 0.75);
}

.c1 {
  color: var(--c1);
}

.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}

.c10 {
  color: var(--c10);
}

.c11 {
  color: var(--c11);
}

.c12 {
  color: var(--c12);
}

.c13 {
  color: var(--c13);
}

.c14 {
  color: var(--c14);
}

.c15 {
  color: var(--c15);
}

.c16 {
  color: var(--c16);
}

.nc {
  color: var(--nc);
}

.nc0 {
  color: var(--nc0);
}

.nc1 {
  color: var(--nc1);
}

.nc2 {
  color: var(--nc2);
}

.nc3 {
  color: var(--nc3);
}

.nc4 {
  color: var(--nc4);
}

.nc-c {
  color: var(--nc-contrast);
}

.nc-c1 {
  color: var(--nc-constrast-1);
}

.nc-t1 {
  color: var(--nc-trans-1);
}

.nc-t2 {
  color: var(--nc-trans-2);
}

.nc-t3 {
  color: var(--nc-trans-3);
}
