html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;
  background-color: #c7c2ac;
}

ul,
h1,
h2,
h3,
p,
a {
  margin: 0 0 0 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  max-width: 100%;
  padding: 0 154px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.container-2 {
  position: relative;
  width: 100%;
  padding: 80px 0;
  margin: 0 auto;
}

@media screen and (max-width: 1600px) {
  .container-2 {
    padding: 64px 0;
  }
}

.container3 {
  position: relative;
  max-width: 900px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-cv {
  position: relative;
  max-width: 1300px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.project-title {
  text-align: center;
  padding: 32px;
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--c1);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 8px;
}

.burger span:nth-child(4) {
  top: 16px;
}

.burger.active span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.burger.active span:nth-child(2) {
  transform: rotate(45deg);
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger.active span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

@media (max-width: 1600px) {
  .container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
  .burger {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  body {
    padding-top: 80px;
  }
  .intro.container-2 {
    height: 400px;
  }
}
