.experiences {
  position: relative;
  background: var(--nc);
  width: 100%;
  z-index: 7;
  padding: 32px 0 0 0;
  box-sizing: border-box;
}

.experiences-title {
  width: auto;
  background-color: var(--nc-contrast);
  padding: 6px 12px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}

.tinysquare-clear {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: no-repeat center var(--nc);
  transition: 0.1s;
}

.epxs {
  display: flex;
  flex-direction: column;
}

.epxs:hover .tinysquare-clear {
  width: 40px;
}

.tinysquare-full {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: no-repeat center var(--nc);
  transition: 0.3s;
}

.exp-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exp-block {
  box-sizing: border-box;
  width: 32%;
  background: var(--nc-trans-3);
  margin-bottom: 26px;
  border: 1px solid var(--nc1-5);
}

.exp-block:hover .tinysquare-full {
  width: 100%;
}

.exp-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  background: var(--nc-contrast);
  transition: 0.3s;
  white-space: nowrap;
}

.exp-txt {
  padding: 12px;
}

.exp-txt p {
  margin-bottom: 6px;
}

.floaty-bits {
  position: relative;
}

.floaty {
  position: absolute;
  animation-name: updown;
  animation-delay: -5s;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.floaty1 {
  left: 4%;
}

.floaty1 img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.floaty2 {
  right: 4%;
  top: 200px;
  rotate: 180deg;
}

.floaty3 {
  right: 7%;
  top: 600px;
}

.floaty4 {
  left: 7%;
  top: 660px;
  rotate: 180deg;
  animation-duration: 12s;
}

.floaty5 {
  left: 37%;
  top: 650px;
}

.floaty6 {
  left: 42%;
  top: 600px;
  rotate: 180deg;
}

.floaty7 {
  left: 56%;
  top: 600px;
  z-index: -1;
}

.floaty8 {
  left: 60%;
  top: 280px;
  rotate: 180deg;
  animation-duration: 10s;
  z-index: -1;
}

.floaty9 {
  left: 42%;
  top: 600px;
  rotate: 180deg;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.separator-exp {
  background-image: url(../../img/separator-exp.svg);
  min-height: 241px;
  z-index: 9;
  margin-top: -24px;
  position: relative;
}
