.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-img img {
  max-width: 85%;
}

.header-menu {
  display: flex;
  gap: 32px;
}

.header-menu a {
  padding: 5px 20px;
  gap: 20px;
  transition: all 0.1s;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  background: var(--c1);
  margin-top: 2px;
  transition: 0.1s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 32px;
}

.frame {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border-left: 4px solid var(--c1);
  border-right: 4px solid var(--c1);
}

.frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--c1);
  z-index: 0;
}

.outras-info {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.frame::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff8de;
  z-index: 2;
}

.foto {
  height: 100%;
  display: block;
  z-index: 1;
  align-self: center;
  position: absolute;
  margin: 0 auto;
  mix-blend-mode: luminosity;
  animation-duration: 1.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.32);
  animation-name: move-left;
}

.intro-bg {
  background: var(--c3);
  background-image: url("../../img/decor.svg");
  background-repeat: no-repeat;
}

.intro {
  position: relative;
  height: 648px;
}

.intro-content img {
  position: absolute;
  display: block;
  margin: 0 auto;
  mix-blend-mode: luminosity;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: move-left;
}

.intro-txt {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.intro-txt > :nth-child(1) {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.75s;
  animation-duration: 0.2s;
  white-space: nowrap;
}

.intro-txt > :nth-child(2) {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.8s;
  animation-duration: 0.2s;
  white-space: nowrap;
}

.intro-txt > :nth-child(3) {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.85s;
  animation-duration: 0.2s;
  white-space: nowrap;
}

.intro-txt > :nth-child(4) {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.9s;
  animation-duration: 0.2s;
  white-space: nowrap;
}

h1 {
  position: relative;
}

.intr-txt-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  user-select: none;
}

.intr-txt-info h1 {
  width: 100%;
}

.intr-txt-info h1::before,
.intr-txt-info h1::after {
  content: "";
  width: 0px;
  height: 1px;
  background: var(--nc-contrast);
  display: block;
  position: absolute;
  transition: 0.15s ease-in-out;
}

.intr-txt-info h1::before {
  top: 12%;
}

.intr-txt-info:hover h1::before,
.intr-txt-info:hover h1::after {
  width: 100%;
}

.intr-txt-info h1:hover {
  transform: scale(1.01);
  transition: 0.1s;
}

.intro-txt-s {
  display: none;
  position: absolute;
  top: 70%;
  left: 51.75%;
  transform: translate(-50%, -50%);
  text-shadow: -2px 3px 0px var(--c15);
  justify-content: center;
}

.intro-txt-s h1::before {
  content: "";
  display: block;
  width: 10%;
  height: 60%;
  background: url("../../img/h1-b-s.svg") no-repeat center;
  position: absolute;
  left: -28px;
  top: 10px;
  transform-origin: left top;
  transition: transform 0.3s ease-in-out;
}

@keyframes move-left {
  0% {
    left: 50%;
    top: 700%;
  }

  50% {
    left: 50%;
    top: 50%;
  }

  55% {
    left: 50%;
    top: 50%;
  }

  90% {
    left: 25%;
    top: 50%;
    opacity: 1;
  }

  91% {
    left: 25%;
    top: 50%;
    opacity: 1;
  }

  92% {
    left: 25%;
    top: 50%;
    opacity: 0.8;
  }

  93% {
    left: 25%;
    top: 50%;
    opacity: 0.8;
  }

  94% {
    left: 25%;
    top: 50%;
    opacity: 0.8;
  }

  95% {
    left: 25%;
    top: 50%;
    opacity: 1;
  }

  96% {
    left: 25%;
    top: 50%;
    opacity: 0.8;
  }

  97% {
    left: 25%;
    top: 50%;
    opacity: 0.8;
  }

  98% {
    left: 25%;
    top: 50%;
    opacity: 0.8;
  }

  99% {
    left: 25%;
    top: 50%;
    opacity: 0.8;
  }
  100% {
    left: 25%;
    top: 50%;
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro a {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -2px 3px 0px var(--c15);
  justify-content: center;
}

.intro a::after {
  content: "";
  display: block;
  width: 33px;
  height: 23px;
  background: url("../../img/seta.svg") no-repeat center;
  position: absolute;
  right: -45px;
  top: 8px;
}

.dropdown {
  display: none;
  visibility: hidden;
}

@media (max-width: 1600px) {
  .frame {
    height: 400px;
  }
}

@media (max-width: 800px) {
  .foto {
    transform: translate(-18%, -50%) scale(1.2);
  }
  @keyframes move-left {
    0% {
      left: 28%;
      top: 700%;
    }

    50% {
      left: 28%;
      top: 50%;
    }

    55% {
      left: 28%;
      top: 50%;
    }

    90% {
      left: 28%;
      top: 50%;
      opacity: 1;
    }

    91% {
      left: 28%;
      top: 50%;
      opacity: 1;
    }

    92% {
      left: 28%;
      top: 50%;
      opacity: 0.8;
    }

    93% {
      left: 28%;
      top: 50%;
      opacity: 0.8;
    }

    94% {
      left: 28%;
      top: 50%;
      opacity: 0.8;
    }

    95% {
      left: 28%;
      top: 50%;
      opacity: 1;
    }

    96% {
      left: 28%;
      top: 50%;
      opacity: 0.8;
    }

    97% {
      left: 28%;
      top: 50%;
      opacity: 0.8;
    }

    98% {
      left: 28%;
      top: 50%;
      opacity: 0.8;
    }

    99% {
      left: 28%;
      top: 50%;
      opacity: 0.8;
    }
    100% {
      left: 28%;
      top: 50%;
      opacity: 1;
    }
  }
  .intr-txt-info {
    background: var(--nc-trans-2);
    padding: 0 4px;
  }
  .intro-txt {
    left: 50%;
    top: 72%;
  }
}
