.portfolio {
  display: flex;
  width: 100%;
}

.work {
  background: var(--nc-contrast);
  width: 20%;
  height: 350px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  user-select: none;
}

.work:hover {
  width: 50%;
  transition: all 0.2s ease;
}

.link-container {
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  transition: opacity 0.3s;
  opacity: 0;
  background-image: linear-gradient(to top, black, transparent);
}

.internal-container {
  width: 100%;
  padding: 32px;
  transition: 0.2s ease;
  box-sizing: border-box;
}

.separator {
  height: 2px;
  width: 0%;
  background-color: var(--c1);
  transition: width 3.6s ease;
}

.link-box {
  display: flex;
  justify-content: space-between;
}

.work:hover .link-container {
  display: flex;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.work:hover .work-text {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.6s;
  animation-duration: 0.6s;
}

.work:hover .learn-text {
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: appear;
  animation-delay: 0.8s;
  animation-duration: 0.6s;
}

.work:hover .separator {
  width: 100%;
  transition: width 2s ease;
}

.gt {
  background-color: #1255a5;
  z-index: 8;
}

.gt-bg1 img,
.gt-bg1-2 img,
.gt-bg2 img,
.gt-bg3 img,
.gt-logo img {
  position: absolute;
}

.gt-bg1 img {
  left: 0%;
  width: 800px;
  opacity: 30%;
  transition: 0.3s;
}

.gt-bg1-2 img {
  left: 102%;
  width: 800px;
  opacity: 30%;
  transition: 0.3s;
}

.gt-bg2 img {
  right: -460px;
  top: -100%;
}

.gt-bg3 img {
  left: -200px;
  top: -100%;
}

.gt-logo img {
  max-width: 80%;
  max-height: 80%;
  transform: translateY(10%);
  margin-left: 32px;
  place-content: center;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.gt:hover .gt-bg1 img {
  transform: translateX(-15%);
  transition: 20s;
}

.gt:hover .gt-bg1-2 img {
  transform: translateX(-15%);
  transition: 20s;
}

.gt:hover .gt-bg2 img {
  left: -147.5%;
}

.gt:hover .gt-logo img {
  max-width: 50%;
  max-height: 50%;
  transform: translateY(10%);
  transition: 0.2s;
}

.cosmeticon-title img {
  position: absolute;
  width: 400px;
  top: 46%;
  left: 5%;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.cosmeticon {
  position: relative;
  background: radial-gradient(
      113.2% 105.31% at 14.15% 101.53%,
      #f5f 0%,
      rgba(255, 85, 255, 0.5) 45.09%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      99.78% 100.84% at 92.34% 2.94%,
      #0adcdc 0%,
      rgba(10, 220, 220, 0.5) 48.51%,
      rgba(253, 255, 255, 0) 100%
    ),
    radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
  z-index: 9;
  transition: 0.3s;
}

.cosmeticon::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
      106.71% 100.06% at 82.8% -0.02%,
      #f5f 0%,
      rgba(255, 85, 255, 0.5) 45.09%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      104.67% 101.26% at 31.97% 100.02%,
      #0adcdc 0%,
      rgba(10, 220, 220, 0.5) 48.51%,
      rgba(253, 255, 255, 0) 100%
    ),
    radial-gradient(128.96% 128.96% at 11.64% 6.07%, #7800ff 0%, #0569f0 100%);
  transition: opacity 0.3s linear;
  opacity: 0;
}

.cosmeticon:hover::before {
  transition: 15s;
  opacity: 1;
}

.cosmeticon:hover .cosmeticon-title img {
  top: 30%;
  transition: 0.2s;
}

.iris {
  background-image: url("../../img/Frame\ 19\ \(2\).png");
  background-size: cover;
  transition: 0.3s;
  z-index: 8;
}

.iris-logo img {
  position: absolute;
  top: 37%;
  left: 5%;
  width: 400px;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.iris-bg2 img {
  position: absolute;
  max-height: 100%;
  max-width: auto;
  top: 0;
  left: 0%;
  transform: scale(1) translateY(0%);
  transition: 0.3s;
}

.iris:hover {
  background-position: bottom;
  transition: background-position 10s;
}

.iris:hover .iris-bg2 img {
  transform: scale(1.1) translateX(-5%);
  transition: 0.3s;
}

.iris:hover .iris-logo img {
  top: 30%;
  transition: 0.2s;
}

.bike {
  background-image: url("../../img/bicicleta1\ 1.png");
  background-size: cover;
  transition: 0.3s;
  z-index: 8;
}

.bike-title img {
  position: absolute;
  top: 37%;
  left: 5%;
  width: 400px;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.bike:hover .bike-title img {
  top: 32%;
  transition: 0.2s;
}

.majestosa {
  position: relative;
  overflow: hidden;
}

.majestosa-title img {
  position: absolute;
  top: 29%;
  left: 5%;
  width: 400px;
  max-width: 90%;
  z-index: 9;
  transition: 0.3s;
}

.majestosa::before {
  content: "";
  background-image: url("../../img/majestosa-bg.png");
  background-size: cover;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.majestosa:hover::before {
  transform: scale(2);
  transition: 20s;
}

.majestosa:hover .majestosa-title img {
  width: 300px;
  top: 15%;
  transition: 0.2s;
}

.separator-port {
  background-image: url(../../img/separator-port2.svg);
  min-height: 31px;
  z-index: 9;
  position: relative;
}

@media (max-width: 1600px) {
  .work {
    height: 300px;
  }
}
